@use "../01_utilities/index" as *;
@use "sass:list";

:root {
    @for $i from 1 through list.length($border-radius) {
        --mlt-sys-border-radius-#{$i}: #{list.nth($border-radius, $i)}#{'%'};
    }
}