
@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;


:root {
  @each $nombre, $tonalidades in utilidades.$colores {
    @for $i from 1 through list.length($tonalidades) {
      --color-#{$nombre}-#{$i}: #{list.nth($tonalidades, $i)};
    }
  }
}



@each $nombre, $tonalidades in utilidades.$colores {
  @for $i from 1 through list.length($tonalidades) {
    .g--color-#{$nombre}-#{$i}{
      color: var(--color-#{$nombre}-#{$i});
    }
  }
}


@each $nombre, $tonalidades in utilidades.$colores {
  @for $i from 1 through list.length($tonalidades) {
    .g--background-color-#{$nombre}-#{$i}{
      background-color: var(--color-#{$nombre}-#{$i});
    }
  }
}
