@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
  @for $i from 1 through list.length(utilidades.$font-size-lista) {
    $font-size: list.nth(utilidades.$font-size-lista, $i);
    --mlt-sys-font-size-#{$i}: #{$font-size};
  }
}

@for $i from 1 through list.length(utilidades.$font-size-lista) {
  $font-size: list.nth(utilidades.$font-size-lista, $i);
  .g--font-size-#{$i} {
    font-size: var(--mlt-sys-font-size-#{$i});
  }
}