@use "../01_utilities/index" as *;
@use "sass:list";

:root {
    @for $i from 1 through list.length($gap) {
        --mlt-sys-gap-#{$i}: #{list.nth($gap, $i)};
    }
}

@for $i from 1 through list.length($gap) {
    .g--gap-#{$i} {
        gap: var(--mlt-sys-gap-#{$i}) !important;
    }
}