@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
  @for $i from 1 through list.length(utilidades.$heights) {
    $height: list.nth(utilidades.$heights, $i);
    --mlt-sys-height-#{$i}: #{$height};
  }
}

@for $i from 1 through list.length(utilidades.$heights) {
  $height: list.nth(utilidades.$heights, $i);

  .g--height-#{$i} {
    height: var(--mlt-sys-height-#{$i});
  }
}