@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
  @for $i from 1 through list.length(utilidades.$margins) {
    $margin: list.nth(utilidades.$margins, $i);
    --mlt-sys-margin-#{$i}: #{$margin};
  }
}

@for $i from 1 through list.length(utilidades.$margins) {
  $margin: list.nth(utilidades.$margins, $i);
  .g--margin-#{$i} {
    margin: var(--mlt-sys-margin-#{$i});
  }
}