@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
  @for $i from 1 through list.length(utilidades.$widths) {
    $width: list.nth(utilidades.$widths, $i);
    --mlt-sys-width-#{$i}: #{$width};
  }
}

@for $i from 1 through list.length(utilidades.$widths) {
  $width: list.nth(utilidades.$widths, $i);
  .g--width-#{$i} {
    width: var(--mlt-sys-width-#{$i});
  }
}
