$paddings:(0px, 6px, 12px, 24px, 48px, 64px);
$margins: (0px, 6px, 12px, 24px, 48px, 64px);
$font-size-lista:(14px, 24px, 36px);
$box-shadow:(none, 0px 1px 3px rgba(0, 0, 0, 0.2));
$widths:(0px, 4px, 8px, 12px, 24px, 32px, 725px, 100%); 
$heights:(30px);

$colores:( //Definicion de paleta de colores, normalmente en escala de 9 tonos de luminosidad
  'azul': (#0045A6,#73CEE6),
  'gris': (#808080, #F2F2F2),
  'rojo': (#E61919),
  'blanco': (#FFFFFF),
  'amarillo': (#C69C10),
  'naranja':(#D18100),
  'verde': (#006b3b, #94c933),
  'morado': (#8228d600, #5a1f6600),
  'negro': (#000000),
  'rosa': (#ac2779)
);
